@model MunicipalComplaint.ViewModel.viewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/AdminJS")
    <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-12  col-md-12  col-lg-12 col-xl-12 ">
                        <div class="card card-primary" >
                            <div class="card-primary">
                              <h1 class="text-primary text-center text-uppercase">User Registration Form</h1>  
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="offset-8 offset-sm-8 col-sm-4 offset-md-10 col-md-2">
                                        <a href="#Register" data-target="#Register" class="btn btn-primary btn-sm" data-toggle="modal"><span><i class="fa fa-plus-circle"></i></span> Register User</a>

                                    </div>
                                </div>
                                <hr />
                                <div class="row" style="overflow:auto">
                                    <div class="col-sm-12 col-md-12">
                                        <table class="table table-hover table-bordered" id="usertbl">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        CNIC
                                                    </th>
                                                    <th>
                                                        Contact
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        District
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var data in Model.signup)
                                                {
                                                    <tr>
                                                        <td>
                                                            @data.Username
                                                        </td>
                                                        <td>
                                                            @data.Email
                                                        </td>
                                                        <td>
                                                            @data.CNIC
                                                        </td>
                                                        <td>
                                                            @data.Contact
                                                        </td>
                                                        <td>
                                                            @data.Status
                                                        </td>
                                                        <td>
                                                            @foreach (var chkdist in Model.cities)
                                                            {
                                                                if (data.DistrictId == chkdist.DistrictId)
                                                                {
                                                                    @chkdist.DistrictName
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @data.Address
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        CNIC
                                                    </th>
                                                    <th>
                                                        Contact
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        District
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                </tr>
                                            </thead>
                                            </tfoot>
                                        </table>

                                        </div>
                                    </div>

                                    </div>
                                </div>

                            </div>
                </div>
            </div>

        </section>
@*Register Model Start*@
<div class="modal fade" id="Register" runat="server" tabindex="-1" role="dialog" aria-labelledby="Register"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border:1px solid gray;border-radius:10px;">
            <div class="modal-header">
                <h5 class="modal-title" id="H1" style="font-weight:500;color:#1e90ff">Register User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="myBtn">
                    &times;
                </button>
            </div>
            <div class="modal-body modal-body-sub">
                <div class="row">
                    <div class="col-md-12 modal_body_left modal_body_left1">
                        <div class="sap_tabs">
                            @using (Html.BeginForm("Register", "AdminPanel", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="d-block"><b>Name</b></label>
                                            <input type="text" class="form-control" placeholder="Name" id="Username" name="Username" maxlength="25">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="d-block"><b>Email</b></label>
                                            <input type="text" class="form-control" placeholder="Email" name="Email" id="Email" maxlength="25">
                                        </div>
                                    </div>

                                </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="d-block"><b>Contact</b></label>

                                                <input type="text" class="form-control" placeholder="Contact" id="Contact" name="Contact" maxlength="25">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="d-block"><b>CNIC</b></label>

                                                <input type="text" class="form-control" placeholder="CNIC" name="CNIC" id="CNIC" maxlength="25">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="d-block"><b>Province</b></label>

                                                <select class="form-control" name="DropDownProvince" id="provinceDrop">
                                                    <option selected disabled>-- Select Province --</option>

                                                    @foreach (var data in Model.provinces)
                                                    {
                                                        <option value="@data.ProvinceId">@data.ProvinceName</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="d-block"><b>District</b></label>

                                                <select class="form-control" name="District" id="districtDrop">
                                                    <option selected disabled>-- Select District --</option>

                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="d-block"><b>Address</b></label>

                                                <input type="text" name="Address" id="Address" placeholder="Address" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="BtnRegister" type="button" value="Register" onclick="sendForm()" class="btn float-right">
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/alertFile/alert")
@*Register Model End*@


<script>
    // Fill Tehsil Dropdown in UC form
    $(document).ready(function () {
        //Datatable
        $(".sidebar-menu .active").removeClass('active');
        $('#register').addClass("active");
        $('#usertbl').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
        });
     

        $("#provinceDrop").change(function () {
            var id = $(this).val();
            $.ajax({
                //type: "GET",
                url: "/AdminPanel/drop",
                cache: false,
                type: "POST",
                //data: data,
                data: { id: id },
                success: function (re) {

                    console.log(re);
                    var s = '<option value= "-1" > --Select District --</option>';
                    for (var i = 0; i < re.length; i++) {
                        s += '<option value= "' + re[i].Value + '" > ' + re[i].Text + '</option> ';
                    }
                    $("#districtDrop").html(s);

                }
            })
        });
    });

    
   
    //End of Fill Tehsil Dropdown in UC form
    function sendForm() {
        debugger
        var Username = $('#Username').val();
        var disId = $("#districtDrop :selected").val();
        var Email = $('#Email').val();
        var CNIC = $('#CNIC').val();
        var Contact = $('#Contact').val();
        var Address = $('#Address').val();

        $.ajax({
            type: "POST",
            url: "/AdminPanel/Register",
            //data: data,
            data: {
                Username: Username,
                DistrictId: disId,
                Contact: Contact,
                CNIC: CNIC,
                Email: Email,
                Address: Address
            },
            success: function (re) {

                swal({
                    title: "Good job!",
                    text: "Successfully Inserted!",
                    icon: "success",
                    button: true,
                    
                }).then((value) => {
                    //swal("Reloading Informtion, Please wait...");
                    location.reload();
                });
                }
        });

    }
   
</script>


    
